<!DOCTYPE html>
<html>
<head>
    <title>翼铃DIY</title>
    <meta name="keywords" content="铃声设置，铃音设置，设铃声，振铃，免费下载，安卓，iPhone，Android，手机应用，移动互联网，一键设置，海量铃音库，正版" />
    <meta name="description" content="铃声设置是一款为智能手机量身定做的铃声设置工具，它拥有20万的海量正版曲库，设置铃声方便快捷，同时支持ios和Android两个平台" />
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="m/images/favicon.ico">
    <style type="text/css">
        body {margin: 0 0;background-color: #ffffff;font-size: 14px;line-height: 24px;}
        p {margin: 10px 10px;}
        .wrapper {width: 320px;margin: 0 auto;}
        .banner {width: 320px;height: 450px;background: url("m/images/bg.jpg") no-repeat top right;position: relative;clear: both;}
        .content {clear: both;min-height: 400px;}
        .download-btn {position: absolute;z-index: 99;top: 390px;left: 65px;text-align: center;}
        .downloadPS {display: none;font-size: 12px;color: #000;text-align: center;width: 200px;line-height: 16px;}
        .not {clear: both;margin: 40px 0px;}
        .not-left {float: left;}
        .not-content {background: url("m/images/not_02.png") repeat-x;line-height: 38px;height: 38px;width: 230px;float: left;}
        .not-right {float: left;}
        .scroller {width:260px;margin:5px auto;position:relative; overflow:hidden;}
        .scroller li, .scroller img {width:260px;}
        .footer {background-color: #9faab7;color: #000;text-align: center;font-size: 12px;width: 100%;padding-top: 15px;padding-bottom: 15px;}
    </style>
    <script src="/javascripts/zepto.min.js"></script>
    <script src="/javascripts/zepto.promptu-menu.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div class="download-btn">
            <div>
                <a href="#"><img src="m/images/downloadBtn.png" border="0" /></a>
            </div>
            <div class="downloadPS">
                仅支持越狱手机用户<br />请静待10秒左右的Cydia更新时间。
            </div>
        </div>
    </div>
    <!--
    <div class="not">
        <div class="not-left">
            <img src="m/images/not_01.png" />
        </div>
        <div class="not-content"><a href="http://www.tianyiring.com/gx/phone/zt1/index.html">双十一活动</a></div>
        <div class="not-right">
            <img src="m/images/not_03.png" />
        </div>
    </div>
    -->
    <div class="content">
        <div class="info">
            <div class="info-header" id="info-header" name="info-header">
                <img src="m/images/info_btn.png" />
            </div>
            <div class="info-content">
                <p>
                    翼铃是一款专为中国电信天翼智能手机用户量身打造的手机铃音客户端。<br /> 电信爱音乐强势推出的联合产品将为用户提供全新的用户体验感受。
                </p>
            </div>
            <div class="scroller">
                <ul>
                    <li><img src="m/images/1.jpg"></li>
                    <li><img src="m/images/2.jpg"></li>
                    <li><img src="m/images/3.jpg"></li>
                    <li><img src="m/images/4.jpg"></li>
                    <li><img src="m/images/5.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="faq">
            <div class="faq-header" id="faq-header" name="faq-header">
                <img src="m/images/faq_btn.png" />
            </div>
            <div class="faq-content">
                <p>
                    A、无法获取验证码<br /> 查看网络情况是否正常或服务器繁忙，稍后再试<br /> <br />
                    B、如何卸载软件<br /> iOS越狱版在Cydia→管理→软件包中，点选程序卸载，android版长按卸载<br /> <br />
                    C、手机号码验证失败<br />查看网络情况是否正常或服务器繁忙，稍后再试<br /> <br />
                    D、如何删除已下载的铃声<br /> 进入本地铃声管理或个人彩铃库管理，选择要删除的铃声，android版长按出现删除按钮，iOS版左（右）滑动出现删除按钮<br /> <br />
                    E、国外号码如何验证<br />暂不支持国外手机号验证<br /> <br />
                    F、手机号码输入不正确<br /> 输入错误手机号将无法绑定，请退出当前页面重新绑定<br /> <br />
                    G、无法更换已绑定的手机号<br /> 当前版本不支持更换已绑定的手机号<br /> <br />
                    H、铃声试听不了<br />查看网络情况是否正常或服务器繁忙，稍后再试<br /> <br />
                    I、无法同步本地铃声<br /> 当前版本暂不支持同步本地铃声<br /> <br />
                    J、手机绑定是否收费<br /> 手机绑定完全免费，不收取任何费用 <br />
                </p>
            </div>
        </div>
        <div class="update">
            <div class="update-header" id="update-header" name="update-header">
                <img src="m/images/update_btn.png" />
            </div>
            <div class="update-content">
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    版权所有 © 杭州祖玛科技有限公司<br>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602000783" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;padding-top: 5px"><img src="/m/images/beian.png" style="float:left;width:auto;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#000;">浙公网安备 33010602000783号</p></a>
    <br>浙ICP备 B2-20100005
</div>
</body>
<script type="text/javascript">
    var btnDownload = $(".download-btn a");
    var role = $.request('role');
    $.get('common/' + (role == '21' ? 'gx-' : '') + 'config.js', function (response) {
        eval(response);
        if (role) role = "?role=" + role;
        else role = "";
        if((/iPhone|iPad/gi).test(navigator.userAgent)) {
            btnDownload.attr("href", config.ios.cydia).on("click", function () {
                _gaq.push(['_trackPageview', '/download/phone/ios/pack1' + role]);
            });
            $(".downloadPS").show().parents('.banner').height(480);
            $(".update-content>p").html(config.ios.updateInfo);
        }
        else {
            btnDownload.attr("href", config.android.download).on("click", function () {
                _gaq.push(['_trackPageview', '/download/phone/android/pack1' + role]);
            });
            $(".update-content>p").html(config.android.updateInfo);
        }
    });
    $('.scroller>ul').promptumenu({
        width: 260,
        height: 390,
        rows: 1,
        columns: 1,
        direction: 'horizontal',
        pages: true
    });
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32648324-2']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageview', '/download/m']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</html>