.main{background: #e92922;padding-bottom: 1.25rem;}
.ban{position: relative;z-index:1}
.ban .ban-img{position: relative;z-index: 0}
.ban .music-bz{position: absolute;top:0;left:0;width:12%;z-index: 9}
.page-bk{position: relative;background: #bd120a;border-radius: .5rem;padding: 0 .75rem .25rem;width: 85%;margin: 0 auto;}
.get-num{width: 100%;color: #e9e0e0;font-size: .6rem;line-height: 2rem;height: 2rem;text-align: center}
.getBtn-layer{width: 90%;margin: 0 auto 15px;}
.content-layer{width: 90%;margin: 1rem auto 0;position: relative;border-radius: 20px;background: #fff;}
.content-tit{font-size: .65rem;font-weight: 700;color: #ff4e00;text-align: center;height: 2.5rem;line-height: 2.5rem;border-bottom: .05rem solid #f1f1f1;border-radius: 1rem 1rem 0 0}
.rule-layer{color: #e9e0e0;font-size:.55rem;width:100%;margin:.5rem auto 0;padding-bottom:.75rem;line-height: .9rem;}
.rule-layer ul li{background: url("/m/images/2/icon-list.png") left .25rem no-repeat;background-size: .4rem;-webkit-background-size: .4rem;padding-left: .6rem}
.rule-layer ul li h3 { position:relative;height:1rem;line-height:1rem}
.rule-layer a{text-decoration: none;color: #fcff00;}
.rule-layer u{color: #fcff00}
.rule-layer .icon-color{color: #fcff00}
.tips-layer{padding: .5rem .75rem 1rem;border-top: .05rem solid #f1f1f1;font-size: .55rem;color: #555;line-height: 1rem}

.float-layer{background: #fff;box-shadow: 0 0 5px rgba(0,0,0,.3);padding: 5px;position: fixed;left:0;right: 0;top:-60px;text-align: center;z-index: 999;opacity: 0;display: none}
.float-getbtn{height: 45px;background: #ff6e6b;border-radius: 30px;border-bottom: 4px solid #d45b58;text-align: center;}