<!DOCTYPE html>
<html>
<head>
    <title>口袋铃声</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="铃声设置，铃音设置，设铃声，振铃，免费下载，安卓，iPhone，Android，手机应用，移动互联网，一键设置，海量铃音库，正版" />
    <meta name="description" content="铃声设置是一款为智能手机量身定做的铃声设置工具，它拥有20万的海量正版曲库，设置铃声方便快捷，同时支持iOS和Android两个平台" />
    <link rel="shortcut icon" href="/download/w/images/favicon.ico">
    <style type="text/css">
        *{ margin:0; padding:0;}
        body{font:12px 'Arial'/*,'黑体'*/,'Microsoft Yahei','Simsun';color:#808080;background:#fff; min-width:320px; height:100%;}
        body,div,p,a,li,ul,ol,span,input,dl,dd,dt,form,h1,h2,h3,h4,h5,h6,select,pre,img,textarea{padding:0;margin:0;outline:none;font-size:system;border:0 none;text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
        form{display:inline}
        ul,ol{list-style:none}
        a{text-decoration:none;color:#808080;}
        u{ text-decoration:none; color:#ef3a2d;}
        img{ border:0;}
        button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;}
        textarea{resize:none}
        button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
        input {-webkit-user-select: text}
        input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
        button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
        table{border-collapse:collapse;border-spacing:0}
        header,footer,article,section,nav,menu{display:block;clear:all;}

        .fl{float:left;}
        .fr{float:right;}
        .clear{clear:both;zoom:1;}
        .clear:after {content:".";display:block;clear:both;height:0;visibility:hidden;}
        .head-content{height: 519px;padding-top: 125px;background: #ff6269;}
        .inner-content{position: relative;width: 1000px;overflow: hidden;margin: 0 auto}
        .down-btn{padding: 10px 0 30px;}
        .down-btn div{margin-top: 25px;cursor: pointer}
        .info-content ul{padding: 100px 0;}
        .info-content li{float: left;width: 230px;height: 180px;overflow: hidden;text-align: center;margin: 20px 50px 0;}
        .info-content li p{font-size: 20px;color: #000;margin-top: 15px;}
        .foot-content {background-color: #979595;color: #eee;text-align: center;font-size: 12px;width: 100%;padding-top: 15px;padding-bottom: 15px;font-size: 14px;}
        .foot-content a{color: #eee}
    </style>
    <script src="/javascripts/zepto.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="head-content">
        <div class="inner-content head-inner clear">
            <div class="fl head-main">
                <div class="down-logo"><img src="/download/w/images/down-logo.png"> </div>
                <div class="down-btn clear">
                    <div class="down-ios"><img src="/download/w/images/down-pc-ios-btn.png"> </div>
                    <div class="down-android"><img src="/download/w/images/down-pc-android-btn.png"> </div>
                </div>
                <div class="qr-pc"><img src="/download/w/images/pc-qr.jpg"> </div>
            </div>
            <div class="fr pc-phone"><img src="/download/w/images/phone.png"> </div>
        </div>
    </div>
    <div class="info-content">
        <div class="inner-content">
            <ul class="clear">
                <li>
                    <img src="/download/w/images/icon1.png">
                    <p>尊贵VIP标识</p>
                </li>
                <li>
                    <img src="/download/w/images/icon2.png">
                    <p>最新铃声免费听</p>
                </li>
                <li>
                    <img src="/download/w/images/icon3.png">
                    <p>彩铃0元换</p>
                </li>
                <li>
                    <img src="/download/w/images/icon4.png">
                    <p>振铃免费下载</p>
                </li>
                <li>
                    <img src="/download/w/images/icon5.png">
                    <p>10万奖品</p>
                </li>
                <li>
                    <img src="/download/w/images/icon6.png">
                    <p>VIP免广告特权</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot-content">
        版权所有 © 杭州祖玛科技有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 浙ICP备 B2-20100005<br>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602000783" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;padding-top: 5px"><img src="/m/images/beian.png" style="float:left;width:auto;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; ">浙公网安备 33010602000783号</p></a>

    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $('.down-ios').on('click',function(){
            window.location.href = "https://itunes.apple.com/cn/app/id1116910750?mt=8";
            _hmt.push(['_trackEvent', 'mobile-ios下载']);
        })

        $('.down-android').on('click',function(){
            window.location.href = "https://mt.ringbox.cn/d/apk/BoxRing_weibo.apk";
            _hmt.push(['_trackEvent', 'mobile-android下载']);
        })

    })
    //百度统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?6ed1abfbbcac76121225032b8979fe19";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>